section.samples {
    margin-top: 20px;
}

.btns{
    display: flex;
    justify-self: center;
}
.ms-Button {
    display: block;
    margin-bottom: 10px;
    justify-self: center;
    margin-left: 20px;
    min-width: 80px;
    background-color: #1ca9b2;
    font-size: 12pt;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#form{
    background-color: #0b5f76;
    justify-self: center;
    width: 100%;
    align-self: center;
    min-height: none;
    padding: 5px;
    border-radius: 5px;
    margin: 3px;
}

.hidden{
    display: none;
}

#btns{
    display: flex;
    justify-items: stretch;
}

.button{
    display: block;
    background-color: #1ca9b2;
    min-width: 20%;
    min-height: 15px;
    justify-self: center;
    margin-top: 20px;
    border-radius: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.checkBox{
    display: inline;
}
.field{
    margin: 2px;
    display: block;
    width: fit-content;
    min-width: 90%;
    min-height: 4vh;
    font-size: 12pt;
    font-family: serif;
  }
  label{
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
    font-family: serif;
  }